
<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="agradecer.css">
    <title>Agradecimiento</title>
  </head>

  <body>
    <h1>GRACIAS</h1>
    <p>Gracias por el registro.</p>
    <br>

    <div class="boton">
      <a href="/registro/paciente">Registrar un paciente</a>
    </div>

    <div class="boton">
      <a href="/registro/doctor">Registrar un Doctor</a>
    </div>

    <div class="boton">
      <a href="/">Volver al inicio</a>
    </div>

  </body>
</html>
