<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="paciente.css">
    <title>Registrar Paciente</title>
  </head>

  <body>
    <h1>Ingresar datos del paciente</h1>
    <form th:action="paciente" th:method="post" th:object="${pacienteForm}">
      <div class="cuadro-form">
	<div class="elementos-form">
	  <label for="nombre">Nombre: </label>
	  <input type="text" th:field="*{nombre}">
	  <br>
	  <label for="apellido">Apellido: </label>
	  <input type="text" th:field="*{apellido}">
	  <br>
	  <label for="edad">Edad: </label>
	  <input type="number" th:field="*{edad}">
	  <br>
	</div>
	<div class="vertical-center">
	  <button type="submit">Submit</button>
	</div>
      </div>
    </form>
  </body>
</html>
