body {
    text-align: center;
}

head {
    text-align: center;
}

h1 {
    text-align: center;
    color: mediumpurple;
}


.cuadro-form {
    display:inline-block;
    border: 4px outset green;
    background-color: lightblue;
    width:fit-content;
}

.elementos-form {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

label {
    display:inline-block;
    width: 100px;
}

input {
    diplay:inline-block;
    width: 200px;
}
}
