<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >
  <head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Clinica Leben</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- style css -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <!-- Responsive-->
    <link rel="stylesheet" href="../static/css/responsive.css" th:href="@{css/responsive.css}">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
  </head>

  <body>
    <!-- Banner de inicio Diana -->
    <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><a href="index.html" th:href="@{index}"><img src="../static/images/logoD.png" th:src="@{images/logoD.png}"
                                                                       width="90"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="header_section">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="logo">
                  <a href="index.html" th:href="@{index}">
                      <img src="../static/images/logoD.png" th:src="@{images/logoD.png}" width="90">
                  </a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="specialties">Especialidades</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="medicine.html" th:href="@{medicine}">Personal</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="client.html" th:href="@{client}">Paciente</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="contact.html" th:href="@{contact}">Servicios</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="login">Ingresar</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="admin">Admin</a>
                      </li>
                      <li class="nav-item active d-flex align-items-center">
                          <a class="nav-link" href="index.html" th:href="@{index}">Usuario</a>
                          <img src="../static/images/usuario.png" th:src="@{images/usuario.png}" class="usuario ml-2">
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
      </nav>

      <!-- header section end -->
      <!-- banner section start -->
      <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="banner_section">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <h1 class="banner_taital">Clínica <br><span style="color: #151515;">Leben</span></h1>
                    <p class="banner_text">Tu salud es lo más importante para nosotros.</p>
                    <div class="btn_main">
                      <div class="more_bt"><a href="#">Contactanos</a></div>
                      <div class="contact_bt"><a href="#">Haz una cita</a></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="image_1"><img src="../static/images/img-1.png" th:src="@{images/img-1.png}"
                                              width="500"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="banner_section">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                    <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                    <div class="btn_main">
                      <div class="more_bt"><a href="#">Contact Now</a></div>
                      <div class="contact_bt"><a href="#">Get A Quote</a></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="image_1"><img src="../static/images/img-1.png" th:src="@{images/img-1.png}"
                                              ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="banner_section">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                    <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                    <div class="btn_main">
                      <div class="more_bt"><a href="#">Contact Now</a></div>
                      <div class="contact_bt"><a href="#">Get A Quote</a></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="image_1"><img src="../static/images/img-1.png" th:src="@{images/img-1.png}"
                                              ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
          <i class="fa fa-long-arrow-left" style="font-size:24px; padding-top: 4px;"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
          <i class="fa fa-long-arrow-right" style="font-size:24px; padding-top: 4px;"></i>
        </a>
      </div>
    </div>
    <!-- banner section end -->

    <!--BIENVENIDOS ROCIO-->
    <div class="health_section layout_padding">
      <div class="container">
        <h1 class="health_taital">Lo mejor de la atención médica para usted</h1>
        <p class="health_text">En Clínica Label buscamos la mejora continua de nuestros servicios al paciente y ofrecer siempre un excelente servicio sanitario y de trato humano. Por ello, contamos con los mejores profesionales en cada una de las especialidades</p>
        <div class="health_section layout_padding">
          <div class="row">
            <div class="col-sm-6">
              <div class="image_main">
                <div class="main">
                  <img src="../static/images/img-r8.jpg" th:src="@{images/img-r8.jpg}"
                       alt="Avatar" class="image" style="width:100%">
                </div>
                <div class="middle">
                  <div class="text"><img src="../static/images/icon-1.png" th:src="@{images/img-r7.jpg}"
                                         style="width: 40px;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="image_main_1">
                <div class="main">
                  <img src="../static/images/img-r12.jpg" th:src="@{images/img-r12.jpg}"
                       alt="Avatar" class="image" style="width:100%">
                </div>
                <div class="middle">
                  <div class="text"><img src="../static/images/icon-1.png" th:src="@{images/icon-1.png}"
                                         style="width: 40px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- BIENVENIDO ROCIO-FINAL-->
    
    <!-- CHIARA - Queremos verte bien -->
    <div class="knowledge_section layout_padding">
      <div class="container">
          <div class="knowledge_main">
              <div class="left_main">
                  <h1 class="knowledge_taital">Queremos verte bien</h1>
                  <p class="knowledge_text">
                      Con más de 30 años de experiencia en el cuidado de la salud de millones de peruanos, en la Clínica San Pablo Surco trabajamos día a día para poder ofrecer el servicio de calidad y seguridad que tu familia merece.<br><br>
                      Actualmente, contamos con la acreditación de la Joint Commission International (JCI), institución internacional que mide los más altos estándares de atención, pasando a formar parte del selecto grupo de clínicas fuera de los Estados Unidos que poseen este reconocimiento.<br><br>
                      Con un staff de reconocidos médicos, en San Pablo Surco ofrecemos atención en todas las especialidades, avalados por equipos de última generación y la mejor infraestructura.
                  </p>
              </div>
              <div class="right_main">
                  <button id="playButton" class="play_icon">
                      <img src="../static/images/play-icon.png" alt="Play Icon">
                  </button>
              </div>
          </div>
          <div class="video_container" id="videoContainer" style="display:none;">
              <video src="../static/videos/Ralph corto.mp4" controls width="800"></video>
          </div>
      </div>
  </div>
  <script src="script.js"></script>
    <!-- knowledge section end -->

    <!-- DIANA - ¿En que podemos ayudarte?  -->
    <div class="news_section layout_padding">
      <div class="container">
        <h1 class="health_taital">¿En qué podemos ayudarte?</h1>
        <p class="health_text">Nuestros Expertos se encargarán de darte la mejor atención.</p>
        <div class="news_section_2 layout_padding">
          <div class="row">
            
            <div class="col-lg-6 col-sm-6 mb-4">
              <div class="box_main">
                <div class="icon_1"><img src="../static/images/icon-3.png" th:src="@{images/icon-3.png}"
                                         ></div>
                <h4 class="daily_text_1">Agendar una cita</h4>
              </div>
            </div>

            <div class="col-lg-6 col-sm-6 mb-4">
              <a href="doctor-view.html">
                  <div class="box_main">
                      <div class="icon_1"> 
                          <img src="../static/images/icon-2.png" th:src="@{images/icon-2.png}">
                      </div>
                      <h4 class="daily_text">Conoce a los Médicos</h4>
                  </div>
              </a>
          </div>

            <div class="col-lg-6 col-sm-6 mb-4">
              <a href="patient-view.html">
              <div class="box_main">
                <div class="icon_1"><img src="../static/images/icon-4.png" th:src="@{images/icon-4.png}"
                                         ></div>
                <h4 class="daily_text_1">Pacientes +</h4>
              </div>
            </a>
            </div>

            <div class="col-lg-6 col-sm-6 mb-4">
              <a href="contacto.html">
                  <div class="box_main">
                      <div class="icon_1"> 
                          <img src="../static/images/icon-3.png" th:src="@{images/icon-3.png}">
                      </div>
                      <h4 class="daily_text">Servicios + </h4>
                  </div>
              </a>
          </div>

            
          </div>
        </div>
        
      </div>
    </div>
    <!-- news section end -->

    <!-- client section ROCIO -->
    <div class="client_section layout_padding">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <h1 class="client_taital">Somos Clínica Leben</h1>
              <p class="client_text">Estamos aquí para acompañarte en cada paso de tu viaje hacia una vida más saludable y feliz. </p>
              <div class="client_section_2">
                <div class="client_left">
                  <div><img src="../static/images/img-r7.jpg" th:src="@{images/img-r7.jpg}"
                            class="client_img"></div>
                </div>
                <div class="client_right">
                  <h3 class="distracted_text">Estamos Listos para cuidarte</h3>
                  <div class="quote_icon"><img src="../static/images/quote-icon.png" th:src="@{images/quote-icon.png}"
                                               ></div>
                                               <p class="client_text">  
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <h1 class="client_taital">Somos </h1>
              <p class="client_text"> Contamos con más de 350 profesionales en más de 45 especialidades</p>
              <div class="client_section_2">
                <div class="client_left">
                  <div><img src="../static/images/img-r7.jpg" th:src="@{images/img-r7.jpg}"
                            class="img-r7"></div>
                </div>
                <div class="client_right">
                  <h3 class="distracted_text">a1234</h3>
                  <p class="lorem_text"> Contamos con más de 350 profesionales en más de 45 especialidades</p>
                  <div class="quote_icon"><img src="../static/images/quote-icon.png" th:src="@{images/quote-icon.png}"
                                               ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <h1 class="client_taital">Est---e ti y tu familia</h1>
              <p class="client_text">Estamos cerca de ti y tu familia </p>
              <div class="client_section_2">
                <div class="client_left">
                  <img src="../static/images/img-r7.jpg" th:src="@{images/img-r7.jpg}"
                            class="img-r7"></div>
                </div>
                <div class="client_right">
                  <h3 class="distracted_text">Estam-----s</h3>
                  <p class="lorem_text">Estamos cerca de ti y tu familiaEstamos cerca de ti y tu familiaEstamos cerca de ti y tu familia</p>
                  <div class="quote_icon"><img src="../static/images/quote-icon.png" th:src="@{images/quote-icon.png}"
                                               ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
          <i class="fa fa-long-arrow-left" style="font-size:24px; padding-top: 4px;"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
          <i class="fa fa-long-arrow-right" style="font-size:24px; padding-top: 4px;"></i>
        </a>
      </div>
    </div>
    <!-- FINAL ROCIOOO -->

    <!-- CHIARA - Nuestras especilidades son -->
    <div class="news_section layout_padding">
      <div class="container">
        <h1 class="health_taital">Nuestras Especialidades </h1>
        <p class="health_text">Contamos con más de veinte especialidades médicas con los mejores en cada área.</p>
        <div class="specialties_section">
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 1">
              <p class="knowledge_text">Cardiología</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 2">
              <p class="knowledge_text">Dermatología</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 3">
              <p class="knowledge_text">Ginecología</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 4">
              <p class="knowledge_text">Pediatría</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 5">
              <p class="knowledge_text">Oftalmología</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 6">
              <p class="knowledge_text">Neurología</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 7">
              <p class="knowledge_text">Oncología</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 8">
              <p class="knowledge_text">Ortopedia</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 9">
              <p class="knowledge_text">Psiquiatria</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 10">
              <p class="knowledge_text">Radiología</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 11">
              <p class="knowledge_text">Reumatología</p>
          </div>
          <div class="specialty_item">
              <img src="../static/images/signomedico.png" th:src="@{images/signomedico.png}" class = "signomedico" alt="Especialidad 12">
              <p class="knowledge_text">Urología</p>
          </div>
      </div>
        <div class="getquote_bt"><a href="specialty-view.html">Ver más <span><img src="../static/images/right-arrow.png" th:src="@{images/right-arrow.png}"
                                                              ></span></a></div>
      </div>
    </div>
    <!-- news section end -->

    <!-- CHIARA - Noticias y eventos -->
    <div class="news_section layout_padding">
      <div class="container">
        <h1 class="health_taital">Noticias y Eventos </h1>
        <p class="health_text">Mantente siempre al tanto de nuestras ultimas novedades.</p>
        <div class="news_section_2 layout_padding">
          <div class="row">
            <div class="news-section">
              <div class="news-item">
                  <img src="https://pymstatic.com/12223/conversions/puede-psicologo-contar-a-otros-lo-que-explicas-small-16_9.jpg" alt="Noticia 1">
                  <div class="news-content">
                      <h2>Título de Noticia 1</h2>
                      <p>Descripción breve de la noticia 1.</p>
                  </div>
              </div>
              <div class="news-item">
                  <img src="https://portal.andina.pe/EDPfotografia3/Thumbnail/2021/11/10/000822672W.jpg" alt="Noticia 2">
                  <div class="news-content">
                      <h2>Título de Noticia 2</h2>
                      <p>Descripción breve de la noticia 2.</p>
                  </div>
              </div>
              <div class="news-item">
                  <img src="https://www.udep.edu.pe/hoy/wp-content/uploads/sites/49/2024/03/Diseno-sin-titulo-44.jpg" alt="Noticia 3">
                  <div class="news-content">
                      <h2>Título de Noticia 3</h2>
                      <p>Descripción breve de la noticia 3.</p>
                  </div>
              </div>
          </div>
          <script src="script.js"></script>
          </div>
        </div>
      </div>
    </div>
    <!-- news section end -->


    <!-- CHIARA - Mapa -->
    <div class="news_section layout_padding">
      <div class="container">
        <h1 class="health_taital">Encuentranos aquí </h1>
        <div class="map_section layout_padding">
          <div class="container">
              <h2> </h2>
              <div class="map_content">
                  <div class="map_container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.820285482788!2d-77.08708721549658!3d-12.055883011580795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c947caa53b21%3A0x10d7ea0bbf73c525!2sCl%C3%ADnica%20Universitaria%20UNMSM!5e0!3m2!1ses!2spe!4v1718850955243!5m2!1ses!2spe" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                  <div class="contact_info">
                      <h3>Información de Contacto</h3>
                      <p><strong>Dirección:</strong> Av. Jorge Basadre Grohmman, Lima, Perú</p>
                      <p><strong>Teléfono:</strong> +51 555-5555</p>
                      <p><strong>Horario de Atención:</strong></p>
                      <p>Lunes a Viernes: 0:00 AM - 0:00 PM</p>
                      <p>Sábados y Domingos: 0:00 AM - 0:00 PM</p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    <!-- news section end -->

    <!-- footer section start -->
    <div class="footer_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="footer_logo"><a href="index.html" th:href="@{index}"><img src="../static/images/logoD.png" th:src="@{images/logoD.png}"
                                                                                  width="90"></a></div>
            <h1 class="adderss_text">Contactanos</h1>
            <div class="map_icon"><img src="../static/images/map-icon.png" th:src="@{images/map-icon.png}"
                                       ><span class="paddlin_left_0">Dirección</span></div>
            <div class="map_icon"><img src="../static/images/call-icon.png" th:src="@{images/call-icon.png}"
                                       ><span class="paddlin_left_0">+51 555-5555</span></div>
            <div class="map_icon"><img src="../static/images/mail-icon.png" th:src="@{images/mail-icon.png}"
                                       ><span class="paddlin_left_0">clinicaleben@gmail.com</span></div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h1 class="adderss_text">Doctores</h1>
            <div class="hiphop_text_1">Hay muchas variaciones de pasajes de Lorem Ipsum disponibles, pero la mayoría ha sufrido alguna alteración, por inyección de humor,</div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h1 class="adderss_text">Links</h1>
            <div class="Useful_text">Hay muchas variaciones de pasajes de Lorem Ipsum disponibles, pero la mayoría ha sufrido.</div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h1 class="adderss_text">Boletín Informativo</h1>
            <input type="text" class="Enter_text" placeholder="Ingrese su Email" name="Ingrese su Email">
            <div class="subscribe_bt"><a href="#">Subscribete</a></div>
            <div class="social_icon">
              <ul>
                <li><a href="#"><img src="../static/images/fb-icon.png" th:src="@{images/fb-icon.png}"
                                     ></a></li>
                <li><a href="#"><img src="../static/images/twitter-icon.png" th:src="@{images/twitter-icon.png}"
                                     ></a></li>
                <li><a href="#"><img src="../static/images/linkedin-icon.png" th:src="@{images/linkedin-icon.png}"
                                     ></a></li>
                <li><a href="#"><img src="../static/images/instagram-icon.png" th:src="@{images/instagram-icon.png}"
                                     ></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
      <div class="container">
        <p class="copyright_text">2019 All Rights Reserved.</a></p>
</div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
        integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
        integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="../static/js/plugin.js"></script>
<!-- sidebar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"
        integrity="sha512-Yk47FuYNtuINE1w+t/KT4BQ7JaycTCcrvlSvdK/jry6Kcxqg5vN7/svVWCxZykVzzJHaxXk5T9jnFemZHSYgnw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="../static/js/custom.js"></script>
<!-- javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
</body>
</html>
