<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
      >
  <head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Registro</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">      
  </head>

  <div class="contact_section layout_padding">
    <div class="row col-md-8 offset-md-2">
      <h1 class="contact_taital">Clínica Leben</h1>
      <div th:if="${param.success}">
	<div class="alert alert-info">Se ha registrado de manera correcta.</div>
      </div>
      <div class="news_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="icon_main">
              <div class="icon_7"><img src="images/icon-7.png"></div>
              <h4 class="diabetes_text">Solicita una cita ahora mismo </h4>
            </div>
            <div class="icon_main">
              <div class="icon_7"><img src="images/icon-5.png"></div>
              <h4 class="diabetes_text">Especialistas en el campo de la medicina</h4>
            </div>
            <div class="icon_main">
              <div class="icon_7"><img src="images/icon-6.png"></div>
              <h4 class="diabetes_text">Laboratorios y equipo moderno</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact_box">
              <h1 class="book_text">Registrese con nosotros</h1>
              <form
		method="post"
		role="form"
		th:action="@{/register/save}"
		th:object="${user}"
		>
		<div class="form-group mb-3">
		  <label class="form-label">Nombre</label>
		  <input
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="Ingrese su primer nombre"
                    th:field="*{firstName}"
                    type="text"
		    />
		  <p th:errors = "*{firstName}" class="text-danger"
		     th:if="${#fields.hasErrors('firstName')}"></p>
		</div>

		<div class="form-group mb-3">
		  <label class="form-label">Apellido</label>
		  <input
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder="Ingrese su apellido"
                    th:field="*{lastName}"
                    type="text"
		    />
		  <p th:errors = "*{lastName}" class="text-danger"
                     th:if="${#fields.hasErrors('lastName')}"></p>
		</div>

		<div class="form-group mb-3">
		  <label class="form-label">Correo</label>
		  <input
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Ingrese su correo"
                    th:field="*{email}"
                    type="email"
		    />
		  <p th:errors = "*{email}" class="text-danger"
                     th:if="${#fields.hasErrors('email')}"></p>
		</div>

		<div class="form-group mb-3">
		  <label class="form-label">Contraseña</label>
		  <input
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Ingrese su contraseña"
                    th:field="*{password}"
                    type="password"
		    />
		  <p th:errors = "*{password}" class="text-danger"
                     th:if="${#fields.hasErrors('password')}"></p>
		</div>
		<div class="form-group">
		  <!-- Hay un error con este codigo. Si bien otorga un estilo correcto,el anchor no carga la funcionalidad de boton -->
		  <!-- Por revisar -->
		  <!-- <buttom class="send_bt"><a type="submit" href="#">Register</a></buttom> -->
		  <!-- Metodo provisional para correcto funcionamiento -->
		  <button class="send_bt" type="submit">Registrarse</button>
		  <span>¿Ya esta registrado? <a th:href="@{/login}">Inicie sesion</a></span>
		</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
